<!-- 
  File Name: index.ejs
  Student Name: Priscilla Bakradze
  Student ID: 301229445
  Date: September 26, 2022
-->    
    
<%- include('partials/header'); %>

<%- include('partials/nav'); %>

  <!-- Home Section -->
  <main class="home">
    <div class="intro">
      <h1 class="title"><%= title %></h1><br>
      <p>My portfolio serves as a showcase for everything that I have learned and achieved as an engineering student.</p><br>
      <p><em>"To gain knowledge and acquire skills that I can use in the workforce to better myself and the world around me."</em></p>
      <div class="social">
        <ul>
            <li><a href="https://www.instagram.com/priscilla_bakradze/" target="_blank"><i class="fa-brands fa-instagram-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/priscilla-bakradze-58170223a/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/PriscillaBakradze" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    <img class="image" src="/Assets/images/lofi.png">       
  </main>
  

<%- include('partials/footer'); %>

<%- include('partials/bottom'); %>

