<!-- 
  File Name: services.ejs
  Student Name: Priscilla Bakradze
  Student ID: 301229445
  Date: September 26, 2022
-->   

<%- include('partials/header'); %>

<%- include('partials/nav'); %>

<!-- Skills Section -->
<section class="skills">
    <h1 class="skills-title"><%= title %></h1><hr><br>
    <div class="skills-container">
        <div class="skill-box">
            <img src="/Assets/images/html.png" style="width: 95px;" class="skill-image">
            <div class="skill-level">85%</div>
            <h3 class="skill-name">HTML</h3>
        </div>
        <div class="skill-box">
            <img src="/Assets/images/css (1).png" style="width: 115px;" class="skill-image">
            <div class="skill-level">80%</div>
            <h3 class="skill-name">CSS</h3>
        </div>
        <div class="skill-box">
            <img src="/Assets/images/js (1).png" style="width: 85px;" class="skill-image">
            <div class="skill-level">65%</div>
            <h3 class="skill-name">JS</h3>
        </div>
        <div class="skill-box">
            <img src="/Assets/images/cSharp.png" style="width: 100px;" class="skill-image">
            <div class="skill-level">50%</div>
            <h3 class="skill-name">C#</h3>
        </div>
        <div class="skill-box">
            <img src="/Assets/images/java.png" style="width: 120px;" class="skill-image">
            <div class="skill-level">30%</div>
            <h3 class="skill-name">Java</h3>
        </div>
        <div class="skill-box">
            <img src="/Assets/images/python.png" style="width: 100px;" class="skill-image">
            <div class="skill-level">30%</div>
            <h3 class="skill-name">Python</h3>
        </div>
    </div>
</section>

<%- include('partials/footer'); %>

<%- include('partials/bottom'); %>
